@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f3f4f6;
}

/* Remove arrows/spinners from number input */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
  -moz-appearance: textfield; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none; /* Standard */
}

/* Optionally, hide the spinner buttons */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.nav-link {
  color: #000; /* Default text color */
  text-decoration: none; /* Remove underline */
  transition: color 0.3s ease, transform 0.3s ease, background-color 0.3s ease; /* Smooth transition */
  padding: 5px 10px; /* Add some padding */
  border-radius: 5px; /* Rounded corners */
}

.nav-link:hover {
  color: #fff; /* Change text color on hover */
  background-color: #007BFF; /* Change background color on hover */
  transform: scale(1.05); /* Slightly increase size */
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Position above the element */
    left: 50%;
    margin-left: -60px; /* Center the tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.modal-content .cancel-button {
    background-color: #8892eb8a;
    color: #02041b8a;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal-content .save-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Contenu de la tooltip (caché par défaut) */
.tooltip-content {
  display: none; /* Caché par défaut */
  position: absolute;
  bottom: 100%; /* Positionner la tooltip au-dessus de l'élément déclencheur */
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(82,96,161, 0.6);
  color: white; /* Texte blanc */
  padding: 8px;
  border-radius: 4px;
  font-size: 12px;
  z-index: 100; /* Assurez-vous que la tooltip est au-dessus */
  white-space: nowrap; /* Empêche le texte de se couper sur plusieurs lignes */
  text-align: center; /* Centrer le texte */
}

/* Afficher la tooltip au survol de la zone parent (tooltip-wrapper) */
.tooltip-wrapper:hover .tooltip-content {
  display: block; /* Montre la tooltip */
}

/* Espacer les éléments dans la tooltip */
.tooltip-content span {
  display: block; /* Force les éléments à être en bloc, les empilant verticalement */
  margin-bottom: 4px; /* Espacement entre les éléments */
}
